@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
:root {
  --main: #ff5a5f;
  --darkerGrey: #484848;
  --lighterGrey: #767676;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
